/* Font import */
@\import "https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap";


body {
    font-family: "Nanum Myeongjo";
    color: #dedeca;
    font-size: 1.2em;
    line-height: 1.5;
    max-width: 60em;
    margin: auto;
    text-align: center;
    background-color: #303030;
}

a {
    color: #d19d9d;
    text-decoration: none;
}

.banter {
    font-size: 0.6em;
    padding-bottom: 1.5em
}

.image-container {
    padding-bottom: 2.5em;
}

.image-container img {
    max-height: 400px;
    transition: filter 0.3s ease, transform 0.3s ease;  
}

.image-container img:hover {
    filter: brightness(70%); 
    transform: scale(1.05); 
}

.score-explanation {
    text-align: left;
    font-size: 0.9em;
    padding-left: 21em;
}

.completed {
    text-align: left;
    padding-left: 7em;
}

.ptr {
    text-align: left;
    padding-left: 7em;
}

.score_system {
    text-align: left;
    padding-left: 24em;
}

.album-images {
    max-width: 350px;
}

.album-images img {
    float: left;
    height: 350px;
    padding-right: 10px
}